*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  margin: 60px;
  font-size: 40px;
}

.button {
  font-size: 40px;
  margin: 0px 10px;
}
.button2{
  font-size: 20px;
  margin: 0px 10px;
}